/* Import Bootstrap's SCSS */
@import "~bootstrap/scss/bootstrap";

/* Your custom SCSS variables and styles here */

/* Custom styles for the carousel */
.centered-carousel {
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto;

  .carousel-inner .carousel-item img {
    width: 100%; /* Adjust the image size as needed */
    transition: transform 0.2s, z-index 0.2s; /* Add transitions for transform and z-index */
    
  }
}

 /* Custom CSS for adjusting control positions */
 #productCarousel .carousel-control-prev {
  margin-left: -120px; /* Adjust this value to change the distance from the left */
}

#productCarousel .carousel-control-next {
  margin-right: -120px; /* Adjust this value to change the distance from the right */
}
